.App-container {
  max-width: 375px;
  margin: 0 auto;
}

.header-container {
  background-image: url(./assets/images/bg-main-mobile.png);
  height: 245px;
  position: relative;
}

.back-card {
  width: 100%;
  position: relative;
}

.back-card span {
  position: absolute;
  right: 50px;
  top: 106px;
  font-size: 0.8rem;
  color: white;
}
.back-card img {
  width: 80%;
  position: absolute;
  top: 35px;
  right: 13px;
}

.front-card {
  background-image: url(./assets/images/bg-card-front.png);
  box-sizing: border-box;
  width: 285px;
  height: 165px;
  z-index: 100;
  position: absolute;
  left: 12px;
  bottom: -48px;
  border-radius: 7px;
  padding: 20px;
  color: white;
}

.front-card p {
  letter-spacing: 1.2px;
  margin: 0;
}

.nameDate {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  letter-spacing: 1.1px;
  font-weight: 300;
}

.svg-container {
  margin-bottom: 45px;
}

.svg-container img {
  width: 20%;
}

/* ========== FORMULARIO ============= */

.formData {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
}

.formData label {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.form-date-cvc {
  display: flex;
  align-items: center;
}

.form-date {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.form-date input {
  width: 20%;
  margin-right: 10px;
}

.form-cvc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 50%;
}

.form-date-input input {
  width: 30%;
}

input {
  font-family: "Space Grotesk", sans-serif;
  padding: 10px;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 8px;
  font-size: 1rem;
}

.btn-submit {
  font-family: "Space Grotesk", sans-serif;
  padding: 10px 0;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  font-size: 1rem;
  border-radius: 7px;
  cursor: pointer;
}

.confirmData {
  flex-direction: column;
  text-align: center;
  margin-top: 90px;
}

.confirmData h1 {
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 0;
}

.confirmData p {
  color: hsl(279, 6%, 55%);
  margin-bottom: 45px;
}

@media screen and (min-width: 1050px) {


  .App-container {
    max-width: 1440px;
    display: flex;
    margin: 0;
  }

  .header-container {
    height: 100vh;
    background-image: url(./assets/images/bg-main-desktop.png);
    width: 40%;
  }

  .back-card {
    width: 350px;
    height: 190px;
    position: relative;
    bottom: -50%;
    left: 50%;
  }

  .back-card img {
    width: 100%;
  }
  .back-card span {
    right: 50px;
    top: 117px;
  }

  .front-card {
    width: 350px;
    height: 190px;
    left: 25%;
    top: 23%;
  }

  .formData {
    /*  margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px; */
    padding: 15% 10% 0 20%;
    margin: 0 auto;
  }

  .confirmData {
    /*  flex-direction: column;
    text-align: center;
    margin-top: 90px; */
    padding: 15% 10% 0 15%;
    margin: 0 100px;
  }
}
